@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body,html{
    padding: 0px;
    margin: 0px;
    background: rgb(245, 245, 245);
}
/*nav bar*/
nav{
    width: auto;
    height: 80px;
    padding: 0px;
    margin-bottom: 80px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 106, 80);
    
}
nav h1{
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 26px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    padding: 0px;
    margin: 0px;
}
nav span{
    color: rgb(243, 2, 0);
}
nav button{
    width: 93px;
    height: 42px;
    /*font*/
    color: rgb(0, 106, 80);
    font-family: Fira Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0%;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 6px;
}
.nav_txt{
    width:1010px;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_txt ul{
    height: fit-content ;
    width: 500px;
    color: white;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_txt a{
    color: white;
    text-decoration: none;
    font-family: Fira Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0%;
}

/*section 1*/

.banar1{
    width: 1011px;
    height: 442px;
    margin: 80px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 19px;
    background: rgb(198, 228, 214);
}
.banar1_txt{
    width: 491px;
    height: 258px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 19;
    padding: 0px;
    
}
.banar1_txt p{
    width: 490px;
    height: 23px;
    padding: 0px;
    /*font*/
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 19px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: left;
    padding: 0px;
    margin: 0px;
}
.banar1_txt h1{
    width: 490px;
    height: 159px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 13;
    padding: 0px;
    /*font*/
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 44px;
    font-weight: 700;
    line-height: 53px;
    letter-spacing: 0%;
    text-align: left;
    padding: 0px;
    margin: 0px;

}
.banar1_txt button{
    width: 213px;
    height: 44px;
    border-radius: 6px;
    background: rgb(0, 106, 80);
    border: none;
    /*font*/
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: left;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

/*section 2*/

.section2{
    width: 1011px;
    height: 604px;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: flex-start;
    gap: 25;
    padding: 0px;
}
.section2_txt{
    width: 1010px;
    height: 95px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section2_txt h1{
    padding: 0px;
    margin: 0px;
    width: 1010px;
    height: 38px;
    /*font*/
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
}
.section2_txt p{
    padding: 0px;
    margin: 0px;
    width: 1010px;
    height: 38px;
    /*font*/
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}
.section2_card{
    width: 1011px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.card{
    width: 324px;
    height: 257px;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:start;
}
.card h1{
    padding: 0px;
    margin: 0px auto;
    width: 274px;
    height: 19px;
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}
.card p{
    padding: 0px;
    margin: 0px auto;
    width: 274px;
    height: 57px;
    /*font*/
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}
.card button{
    width: 96px;
    height: 32px;
    margin: 0px 27px;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 13px;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: center;
    border: none;
    border-radius: 6px;
}
.card img{
    margin-left: 27px;
}
.card1{
    background: rgba(84, 144, 245, 0.2);
}
.card1 button{
    background: rgb(84, 144, 245);
}
.card2{
    background: rgb(198, 228, 214);
}
.card2 button{
    background: rgb(9, 161, 92);
}
.card3{
    background: rgb(247, 235, 207);
}
.card3 button{
    background: rgb(255, 194, 57)
}

.section2_clng{
    width: 1010px;
    height: 202px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 10px;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section2_clng p{
    width: 903px;
    height: 76px;
    margin: 38px 0px 0px 30px;
    /*font*/
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}
.section2_clng img{
    height: 43px;
    width: 35px;
    position: absolute;
    padding:20px 30px;
}
.section2_clng h2{
    width: 973px;
    height: 19px;
    margin: 0px 0px 0px 30px;
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}
.section2_clng h6{
    margin:  0px 0px 38px 30px;
    color: rgba(14, 14, 14, 0.6);
    font-family: Fira Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}
/*section 3*/

.section3{
    height: 1088px;
    width: 1010px;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.section3_txt{
    width: 1010px;
    height: 95px;
    margin: 0px;
}
.section3_txt h1{
    width: 1010px;
    height: 38px;
    padding: 0px;
    margin: 0px;
    /*font*/
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
}
.section3_txt p{
    width: 1010px;
    height: 38px;
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}
.section3_nws{
    width: 1010px;
    height: 318px;
    border-radius: 19px;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.section3_img{
    width: 322px;
    height: 242px;
    border-radius: 19px;
    background-image: url("assets/satelite.png");
    background-size: cover;
}
.section3_nws_txt{
    width: 588px;
    height: 229px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:start;

}
.section3_nws_txt h1{
    width: 611px;
    height: 30px;
    padding: 0px;
    margin: 0px;
    /*font*/
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}
.section3_nws_txt img{
    padding: 0px;
    margin: 0px;
}
.section3_nws_txt b{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;

}
.section3_nws_txt p{
    width: 611px;
    height: 57px;
    padding: 0px;
    margin: 0px;
    /*font*/
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;

}
.section3_nws_txt button{
    padding: 0px;
    margin: 0px;
    width: 110px;
    height: 38px;
    border-radius: 6px;
    background: rgb(0, 106, 80);
    border: none;
    /*font*/
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0%;
}
/*section 4*/

.section4{
    width: 1011px;
    height: 367px;
    margin: 80px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.section4 h1{
    width: 1000px;
    height: 38px;
    padding: 0px;
    margin: 0px;
    /*font*/
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
}
.section4 p{
    width: 1000px;
    height: 38px;
    padding: 0px;
    margin: 0px;
    /*font*/
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
}
.section4_opt{
    width: 846px;
    height: 101px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.green{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 199px;
    height: 101px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 13px;
    background-color:rgb(198, 228, 214);
    /* font */
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
}
.radio-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 199px;
    height: 101px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 13px;
    background: rgb(255, 255, 255);
    /* font */
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
  }
.section4 input{
    width: 815px;
    height: 51px;
    border-bottom: 1px solid rgba(14, 14, 14, 0.15);
    background: rgb(255, 255, 255);
    text-align: center;
    border: none;
    /*font*/
    color: rgba(14, 14, 14, 0.3);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
}
.section4 button{
    width: 119px;
    height: 44px;
    text-align: center;
    border: 1px solid rgba(14, 14, 14, 0.1);
    border-radius: 6px;
    background: rgb(0, 106, 80);
    /*font*/
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0%;
}
/*section 5*/
.section5{
    width: 1011px;
    height: 312px;
    border-radius: 19px;
    background: rgb(198, 228, 214);
    margin: 80px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section5_cnt{
    width: 592px;
    height: 206px;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}
.section5_cnt h1{
    width: 492px;
    height: 38px;
    padding: 0px;
    margin: 0px;
    /*font*/
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;

}
.section5_cnt p{
    width: 492px;
    height: 38px;
    padding: 0px;
    margin: 0px;
    /*font*/
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;

}
.section5_inp{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section5_inp input{
    width: 474px;
    height: 44px;
    margin:0px;
    padding: 0px;
    border: none;
    border-radius: 6px 0px 0px 6px;
    background: rgb(255, 255, 255);
    /*font*/
    color: rgba(14, 14, 14, 0.3);
    font-family: Fira Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: center;
}
.section5_inp button{
    width: 118px;
    height: 44px;
    margin:0px;
    padding: 0px;
    border: none;
    border-radius: 0px 6px 6px 0px;
    background: rgb(0, 106, 80);
    /*font*/
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0%;
}    
/*footer*/
footer{
    height: 300px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 106, 80);

}
.footer_content{
    width: 600px;
    height:150px ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.footer_content h1{
    color: white;
    font-family: Fira Sans;
    font-size: 26px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
}
.footer_content img{
    width: 30px;
    height: 30px;
    margin: 10px;
}