@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.banar1{
    width: 1011px;
    height: 442px;
    margin: 60px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 19px;
    background: rgb(198, 228, 214);
}
.banar1_txt{
    width: 491px;
    height: 258px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 19;
    padding: 0px;
    
}
.banar1_txt p{
    width: 490px;
    height: 23px;
    padding: 0px;
    /*font*/
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 19px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: left;
    padding: 0px;
    margin: 0px;
}
.banar1_txt h1{
    width: 490px;
    height: 159px;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 13;
    padding: 0px;
    /*font*/
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 44px;
    font-weight: 700;
    line-height: 53px;
    letter-spacing: 0%;
    text-align: left;
    padding: 0px;
    margin: 0px;

}
.banar1_txt button{
    width: 213px;
    height: 44px;
    border-radius: 6px;
    background: rgb(0, 106, 80);
    border: none;
    /*font*/
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: left;
    text-align: center;
    padding: 0px;
    margin: 0px;
}